{%extends 'base.html'%}


{%block content%}

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Pitch</h1>
    <h4>{{message}}</h4>
  </div>
  <div class="row">
    {%for all in top_pitch%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          {{all.pitch}}
          <a class="btn btn-secondary" href="/pitch/new/review/{{all.id}}">Leave a comment</a>
        </div>

      </div>
    </div>
    {%endfor%}

  </div>
  <div class="row">
    {%for i in pitch%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          {{i.pitch}}
          <a class="btn btn-secondary" href="/pitch/new/review/{{i.id}}">Leave a comment</a>
        </div>

      </div>

    </div>
    {%endfor%}
  </div>
  <div class="row">
    {%for pit in pitch1%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          {{pit.pitch}}
          <a class="btn btn-secondary" href="/pitch/new/review/{{pit.id}}">Leave a comment</a>
        </div>

      </div>

    </div>

    {%endfor%}
    </div>

    <!--Robotic-->
<div class="row">
    {%for i2 in pitch2%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          {{i2.pitch}}
          <a class="btn btn-secondary" href="/pitch/new/review/{{i2.id}}">Leave a comment</a>
        </div>

      </div>

    </div>

    {%endfor%}
    </div>

    <!-- IoT-->
    <div class="row">
    {%for i3 in pitch3%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          {{i3.pitch}}
          <a class="btn btn-secondary" href="/pitch/new/review/{{i3.id}}">Leave a comment</a>
        </div>

      </div>

    </div>

    {%endfor%}

  </div>
</div>


{%endblock%}
