{%extends 'base.html'%}


{%block content%}
<div class=" main jumbotron">
  <h1>Welcome to Pitch</h1>
  <h4>{{message}}</h4>
  {%if current_user.is_authenticated%}
  <p>Get started Write your own Idea </p><a href="{{url_for('main.new_pitch',uname=current_user.username)}}"><button class="btn default-color" type="button" name="button">Here</button></a>
  {%else%}
  <p>Get started Write your own Idea </p><a><button class="btn default-color" id="login" type="button" title="Login Required To post your Idea" name="button">Here</button></a>
  {%endif%}
</div>
<div class="container-fluid">
  <div class="row">
    {%for all in top_pitch%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div  class="jumbotron title">
            <h5>{{all.title}}</h5> <span class="animated fadeIn " aria-hidden="true">New</span>
          </div>
          {{all.pitch}}
          <br>
          <i class="vom">Cetegory {{all.categ}}</i>
          <br>
          <hr class="default-color">
          <a class="btn default-color" href="/pitch/new/review/{{all.id}}">comment</a>
        </div>

      </div>
    </div>
    {%endfor%}

  </div>
  <br>
  <!-- Category Ai starts here-->
  <div class="ai jumbotron">
    <div class="row">
      <div class="col-md-3"><div class="cat card">
        <h1>Artificial intelligence (AI) </h1><hr class="default-color">Category<br><br> <button id="aii" class="btn default-color" type="button" name="button">View Category</button></div>
      </div>
      <div class="col-md-3"> <div class="cat card">
        <h1>Robotics <br>(R)</h1><hr class="default-color">Category<br><br><button id="robot" class="btn default-color" type="button" name="button">View Category</button></div>
      </div>
      <div class="col-md-3"><div class="cat card">
        <h1>Internet of Everything  (IoT)</h1><hr class="default-color">Category<br><br><button id="ot" class="btn default-color" type="button" name="button">View Category</button>
      </div></div>
      <div class="col-md-3"><div class="cat card">
        <h1>Drones  <br>(D)</h1><hr class="default-color">Category<br><br><button id="dro" class="btn default-color" type="button" name="button">View Category</button>
      </div></div>

    </div>
  </div>


  <div id="AI" class="animated fadeIn row">
    <div class="col-md-12">
      <h1>Artificial intelligence (AI) Category</h1>

    </div>
    {%for i in pitch%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div  class="jumbotron title">
            <h5>{{i.title}}</h5>
          </div>
          {{i.pitch}}
          <hr class="default-color">
          <a class="btn btn-secondary" href="/pitch/new/review/{{i.id}}">comment</a>
        </div>

      </div>

    </div>
    {%endfor%}
  </div>
  <div id="R" class="animated fadeIn row">
    <div class="col-md-12">
      <h1>Robotics  (R) Category</h1>

    </div>

    {%for pit in pitch1%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div  class="jumbotron title">
            <h5>{{pit.title}}</h5>
          </div>
          {{pit.pitch}}
          <hr class="default-color">
          <a class="btn btn-secondary" href="/pitch/new/review/{{pit.id}}">comment</a>
        </div>

      </div>

    </div>

    {%endfor%}
    </div>

    <!--Robotic-->


<div id="D" class="animated fadeIn row">
  <div class="col-md-12">
    <h1>Drones  (D) Category</h1>

  </div>
    {%for i2 in pitch2%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div  class="jumbotron title">
            <h5>{{i2.title}}</h5>
          </div>
          {{i2.pitch}}
          <hr class="default-color">
          <a class="btn btn-secondary" href="/pitch/new/review/{{i2.id}}">comment</a>
        </div>

      </div>

    </div>

    {%endfor%}
    </div>

    <!-- IoT-->
    <div id="IoT" class="animated fadeIn row">
      <div class="col-md-12">
        <h1>Internet of Everything  (IoT) Category</h1>
      </div>
    {%for i3 in pitch3%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div  class="jumbotron title">
            <h5>{{i3.title}}</h5>
          </div>
          {{i3.pitch}}
          <hr class="default-color">
          <a class="btn btn-secondary" href="/pitch/new/review/{{i3.id}}">comment</a>
        </div>

      </div>

    </div>

    {%endfor%}

  </div>
</div>


{%endblock%}
