{%extends 'base.html'%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="">
      <h5>THis is  Project Presented by {{pitch[id-1].author}}</h5>
        <h3>Title {{pitch[id-1].title}}</h3>
        <div class="card">
          <div class="card-body">
            {{pitch[id-1]}}
            <br>
            <hr class="default-color">

            <i>by {{pitch[id-1].author}}</i>
          </div>

        </div>


      </div>

    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h1>Leave a comment</h1>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Comments</h1>

      </div>

    </div>

  </div>

</div>
{%endblock%}
