{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{%block content%}
<div id="pitch" class="jumbotron pitch">
  <h1>Write an Idea that will move the world</h1>
  <p><strong><i id="sho">60</i></strong> seconds is all you have</p><button type="button" id="love" class="btn btn-info" name="button">Time yourself</button><span id="show"></span>
  <div id="spinner" class="spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        {{wtf.quick_form(new_review)}}
    </div>
    <div class="col-md-3"></div>

  </div>

</div>
{%endblock%}
